.bg-primary {
  background: peoplewave-color('primary');
}

.bg-accent {
  background: peoplewave-color('accent');
}

.bg-secondary {
  background: peoplewave-color('secondary');
}

.bg-foreground {
  background: peoplewave-color('foreground');
}

.bg-white {
  background: peoplewave-color('white');
}

.bg-foreground--lighten {
  background: lighten(peoplewave-color('foreground'), 20%);
}

.bg-foreground--lighten-2 {
  background: lighten(peoplewave-color('foreground'), 40%);
}

.bg-foreground--lighten-3 {
  background: lighten(peoplewave-color('foreground'), 60%);
}

.bg-foreground--lighten-4 {
  background: lighten(peoplewave-color('foreground'), 80%);
}