@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
.navbar {
  margin-bottom: 0; }

.btn {
  border-radius: 30px;
  font-weight: bold; }

.btn-primary {
  background: #f2a727;
  color: #272727;
  border-color: #f2a727; }
  .btn-primary:hover {
    background-color: #ffc858;
    border-color: #ffc858;
    color: #272727;
    outline: none; }

.card {
  position: relative;
  margin: .5rem 0 1rem;
  background-color: #FDFEFD;
  transition: box-shadow .25s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px; }
  .card .card-header {
    border-bottom: 1px solid rgba(161, 161, 161, 0.2);
    padding: 24px; }
  .card .card-content {
    padding: 24px;
    border-radius: 0 0 2px 2px; }

.is-bold {
  font-weight: bold; }

body {
  font-size: 14px;
  color: #272727;
  font-family: "Lato", sans-serif; }

.pwave-docs-header {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
  background: #272727;
  color: #FDFEFD; }

a {
  color: #f2a727; }
  a:hover {
    color: #f2a727; }
