@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
.navbar {
  margin-bottom: 0; }

body {
  font-size: 14px;
  color: #272727;
  font-family: "Lato", sans-serif; }

.pwave-docs-header {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
  background: #f2a727;
  color: #FDFEFD; }
