.bg-primary {
  background: peoplewave-color('primary');
}

.bg-accent {
  background: peoplewave-color('accent');
}

.bg-secondary {
  background: peoplewave-color('secondary');
}

.bg-foreground {
  background: peoplewave-color('foreground');
}